@page "/fetchdata"

<PageTitle>Regenter</PageTitle>

@using XMedicus.Models
@using XMedicus.Services
@inject RulerService RulerService

<h1>Regenter</h1>

<p>Her er de forskellige regenter:</p>

@if (rulers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Periode</th>
                <th>Slægt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ruler in rulers)
            {
                <tr>
                    <td>@ruler.Name</td>
                    <td>@ruler.Rule.Period</td>
                    <td>@ruler.House</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Ruler>? rulers;

    protected override async Task OnInitializedAsync()
    {
        rulers = await RulerService.GetRulersAsync();
    }
}
